* {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	text-decoration: none; 	
}






.Avto img{

	width: 100px;
	height: 50px;
	margin: 10px;
	margin-left: 10px; 
	

}